.nav {
  background-color: #ffffff33;
  border: 3px solid #ffffff30;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-left: 40px;
  padding-right: 50px;
}
.emoji-logo-container {
  display: flex;
}
.emoji-logo-heading {
  color: #36454f;
  padding-left: 20px;
  padding-top: 5px;
}
.emoji-score {
  color: #36454f;
  font-family: 'Roboto';
  font-size: 20px;
}
.emoji-score-span {
  color: #36454f;
  font-family: 'Roboto';
  font-size: 30px;
}
@media screen and (max-width: 992px) {
  .nav {
    background-color: #ffffff33;
    border: 3px solid #ffffff30;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-left: 40px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 576px) {
  .emoji-logo-heading {
    color: #36454f;
    padding-left: 20px;
    padding-top: 5px;
    font-size: 12px;
  }
  .emoji-logo {
    height: 30px;
    width: 30px;
  }
  .nav {
    background-color: #ffffff33;
    border: 3px solid #ffffff30;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-left: 20px;
    padding-right: 30px;
  }
  .emoji-score {
    color: #36454f;
    font-family: 'Roboto';
    font-size: 10px;
  }
  .emoji-score-span {
    color: #36454f;
    font-family: 'Roboto';
    font-size: 20px;
  }
}

.left-icon {
  width: 20px;
}
.back-btn {
  background-color: transparent;
  color: #354230;
  border: none;
  font-size: 17px;
  margin-bottom: 30px;
  margin-left: 200px;
  margin-top: 30px;
}
.bg-container {
  background-image: linear-gradient(#746cc0, #d8bfd8);
}
.unordered-list-emojis {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.emojis-div-container {
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.emoji-top-container {
  display: flex;
  justify-content: space-between;
}
.emoji-popup {
  background-color: transparent;
}
@media screen and (max-width: 992px) {
  .back-btn {
    background-color: transparent;
    color: #354230;
    border: none;
    font-size: 17px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 767px) {
  .emojis-div-container {
    height: 85vh;
    padding: 0px;
    margin: 0px;
  }
}
@media screen and (max-width: 575px) {
  .back-btn {
    background-color: transparent;
    color: #354230;
    border: none;
    font-size: 12px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-top: 30px;
  }
  .emojis-div-container {
    height: 85vh;
    padding: 0px;
    margin: 0px;
  }
}
